<div class="col">
  <div class="input_form">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :title, placeholder: ".." %>
    <%= f.input :description, placeholder: ".."%>
    <%= f.input :servers, collection: 1..10, prompt: "Select a number" %>
    <%= f.input :difficulty, collection: Recipe::DIFFICULTIES, prompt: "Select difficulty" %>
    <%= f.input :time, collection: 1..200, prompt: "Select a number" %>
    <%= f.input :image %>
  </div>
  <div class="row">
    <div class="col border mt-3">
      <h3>ingredient</h3>
      <div id="ingredients">
        <%= f.fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', :f => ingredient %>
      <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association 'add ingredient', f, :ingredients, class: "btn btn-secondary" %>
      </div>
    </div>
     <div class="col border mt-3">
      <h3>preparation</h3>
      <div id="preparations">
        <%= f.fields_for :preparations do |preparation| %>
        <%= render 'preparation_fields', :f => preparation %>
      <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association 'add preparation', f, :preparations, class: "btn btn-secondary" %>
      </div>
     </div>
  </div>
  <div class="mt-3">
    <%= f.submit 'save', class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
