<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBook</title>
    <meta charset=“utf-8” />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="./stylesheets/application.css.scss">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class='content'><%= yield %></div>
    <%= render 'shared/footer' %>
    <!-- JavaScript file -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/JavaScript" src="./javascripts/application.js"></script>
    <script src="https://kit.fontawesome.com/8690df7177.js" crossorigin="anonymous"></script>
  </body>
</html>
